.backgroundB {
	max-width: 100vw;
	position: fixed;
	z-index: 0;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rgb(12, 12, 12);
}
.paddingKontenB {
	/* padding-left: 241px; */
	margin-left: 241px;
	padding-top: 64px;
	padding-bottom: 90px;
	padding-right: 32px;
	height: calc(100vh - 90px);
	overflow-y: scroll;
	scroll-behavior: smooth;
}
.paddingKontenB::-webkit-scrollbar {
	background-color: rgb(12, 12, 12);
	width: 12px;
	height: 5px;
}
.paddingKontenB::-webkit-scrollbar-thumb {
	background-color: rgb(12, 12, 12);
}
.paddingKontenB:hover::-webkit-scrollbar-thumb {
	background-color: #aaa;
}
.kontenerB {
	width: calc(100vw-241px);
	max-width: 100vw;
	max-height: 350px;
	/* flex-wrap: wrap; */
	padding-top: 24px;
	overflow: hidden;
}
.namaGroupB {
	width: calc(100vw-241px);
	max-width: 100vw;
	padding-right: 28px;
	height: 50px;
	display: flex;
	justify-content: space-between;
}
.h1B {
	padding-left: 30px;
	font-weight: 600;
	color: white;
	font-size: 24px;
	cursor: pointer;
}
.h1B:hover {
	text-decoration-line: underline;
}
.h2B {
	display: flex;
	/* text-align: right; */
	align-items: center;
	padding-left: 30px;
	font-weight: 600;
	color: rgb(167, 167, 167);
	font-size: 14px;
	cursor: pointer;
}
.h2B:hover {
	text-decoration-line: underline;
}
#musicCoverB {
	display: flex;
	flex-wrap: wrap;
	gap: 27px;
	/* row-gap: 80px; */
	padding-left: 30px;
	height: 290px;
}
.cardB {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	width: 192.2px;
	height: 270.21px;
	border: 1px solid rgb(24, 24, 24);
	border-radius: 5px;
	cursor: pointer;
	background-color: rgb(24, 24, 24);
}
.cardB:hover {
	background-color: rgb(46, 46, 46);
}
/* .playbuttonB {
	width: 192.2px;
	height: 270.21px;
	position: absolute;
	z-index: 1;
	opacity: 0;
	display: grid;
	justify-items: end;
	align-items: center;
	transition: 0.3s;
	padding-right: 15px;
	padding-top: 20px;
}
.playbuttonB:hover {
	opacity: 1;
} */
.gambarB {
	width: 230px;
	height: 182.2px;
	padding-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.img1B {
	border-radius: 10px;
	/* z-index: 0;
  position: fixed; */
}
.img2B {
	border-radius: 5px;
	/* z-index: 1;
  position: fixed; */
}
.infoB {
	height: 75px;
	padding-left: 13px;
	padding-right: 13px;
	width: 246px;
}
.tittleB {
	font-size: 16px;
	font-weight: 600;
	color: white;
}
.keteranganB {
	padding-top: 5px;
	font-size: 13px;
	font-weight: 500;
	color: rgb(167, 167, 167);
}
#boxS {
	max-width: 241px;
	width: 241px;
	height: 100vh;
	z-index: 3;
	position: fixed;
	background-color: black;
	padding-left: 22px;
	padding-top: 22px;
	padding-right: 3px;
}

#spotifyS {
	width: 205x;
	padding-right: 22px;
}

.logoS {
	width: 130px;
}

#homeS {
	padding-top: 20px;
}
.flexS {
	width: 205x;
	height: 40px;
	align-items: center;
	gap: 20px;
}

.flexS div {
	height: 40px;
	display: flex;
	align-items: center;
}

div {
	color: #9d9187;
	/* width: 100%; */
	align-items: center;
}

div:hover {
	color: white;
}

#playlistS {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px;
	border-style: groove;
	border-color: #262626;
}

#boxPlaylistS {
	padding-top: 20px;
	height: 450px;
	overflow-y: hidden;
	overflow-x: hidden;
}
#boxPlaylistS:hover {
	height: 450px;
	overflow-y: scroll;
}

#boxPlaylistS::-webkit-scrollbar {
	/* background-color: gold; */
	background-color: transparent;
}
#boxPlaylistS::-webkit-scrollbar-thumb {
	background-color: #aaa;
}

#boxPlaylistS div {
	height: 32px;
	display: flex;
	align-items: center;
}
